body {
    font-family: Arial, sans-serif;
    background-color: #1c2120;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}

.container {
    background-color: #fff;
    padding: 60px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    width: 400px;
}

h1 {
    text-align: center;
    color: #333;
}

form input {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

form button {
    width: 100%;
    padding: 12px;
    background-color: #1c2120;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background-color: #121614;
}
           
.register-link{
    margin-top: 1rem;
    font-size: 0.9rem;
}

.register-link a {
    color: #1C2120;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover{
    text-decoration: underline;
}