* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fffafc;
  color: #333;
}

.sobreheader {
  background-color: #1c2120;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #ffffff;
}

.busca,
.logo,
.icones {
  flex: 1;
  text-align: center;
}

.linha-branca {
  height: 2px;
  background: #fff;
  margin: 20px 0;
  border: none;
}

.linha {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding: 5px;
  width: 120px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.244);
  border-radius: 20px;
}

.faixa-entrega img {
  width: 100%;
  height: auto;
}

main {
  padding: 20px;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 100px;
}

.produto {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 15px;
  max-width: 300px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.produto:hover {
  transform: scale(1.03);
}

.produto img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.produto h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #1c2120;
}

.produto p {
  margin: 10px 0;
  font-weight: bold;
}

.produto button {
  padding: 8px 12px;
  margin: 5px;
  border: none;
  background-color: #1c2120;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.produto button:hover {
    background-color: #1c2120;
}

footer {
  background-color: #1c2120;
  color: white;
  font-family: sans-serif;
  padding: 60px 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
}
  
footer ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}
  
footer a {
  color: #fff;
  text-decoration: none;
}
  
footer a:hover {
  text-decoration: underline;
}
  
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
  
.footer2 {
  text-align: center;
}
  
.footer-column {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
}
  
.footer-column h2,
.footer-column h3 {
  margin-bottom: 15px;
  font-weight: bold;
}
  
.footer-column ul {
  list-style: none;
  padding: 0;
}
  
.footer-column ul li {
  margin-bottom: 8px;
}
  
.footer-column a {
  color: white;
  text-decoration: none;
}
  
.footer-column a:hover {
  text-decoration: underline;
}
  
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #444;
  padding-top: 20px;
}

.social-media img{
  width: 40px;
  height: 40px;
}

.fontby {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.produto h3 {
    margin-bottom: 5px;
}

.produto p {
    font-size: 1.1rem;
    font-weight: 600;
}

.grid {
  display: flex;
  gap: 35px;
  text-align: left;
  padding: 20px;
  justify-content: left;
  align-items: left;
}

.grid-item {
  flex: 1 1 300px;
  max-width: 300px;
}

.grid-item img {
  width: 100%;
  max-width: 300px;
  height: auto;
  transition: transform 0.3s ease;
  border-radius: 20px;
  box-shadow: 2px 5px 15px #000;
}

.grid-item img:hover {
  transform: scale(1.01);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

video {
  max-width: 100%;
  max-height: 100%;
  width: 100vw;
  border-radius: 8px; 
}

.biografia {
  align-items: flex-start;
  max-width: 1100px;
  margin: 60px auto;
  padding: 40px 30px;
  gap: 30px;
}
  
.biografia-container {
  display: flex;
  gap: 40px; 
  align-items: flex-start;
  justify-content: space-between;
}
  
.nome-biografia {
  font-weight: 800;
  flex: 1 1 200px;
  text-align: left;
  color: #FFA500;
}
  
.texto-biografia {
  color: #1c2120;
  line-height: 1.8;
  text-align: justify; 
}
  
.texto-biografia p {
  margin-bottom: 15px;
  padding: 25px;
}